<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="group">
            <h2><span>Group</span> {{ group.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{ group.name }}</span>
                </dd>
                <dt><span>Grade Level</span></dt>
                <dd>
                    <div *ngIf="group.gradeLevel">
                        <a [routerLink]="['/grade-level', group.gradeLevel?.id, 'view']">{{ group.gradeLevel?.id }}</a>
                    </div>
                </dd>
                <dt><span>Subjects</span></dt>
                <dd>
                    <span *ngFor="let subjects of group.subjects; let last = last">
                        <a [routerLink]="['/subject', subjects?.id, 'view']">{{ subjects.id }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
                <dt><span>Students</span></dt>
                <dd>
                    <span *ngFor="let students of group.students; let last = last">
                        <a [routerLink]="['/student', students?.id, 'view']">{{ students.id }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/group', group.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
